nav {
    padding: 15px;
    background-color: black;
    text-align: center;
    top: 0;
}

nav>img {
    height: 45px;
}

.content {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}


.left {
    width: 50%;
}

.left>h2 {
    width: 80%;
    font-size: 45px;
    font-weight: bold;
    padding-top: 25px;
}

.left>p {
    font-size: 20px;
}

.left>h3 {
    font-size: 15px;
    font-weight: bold;
}

.product>img {
    width: 15%;
    border: 4px solid transparent;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.product .selectedProduct {
    border: 4px solid orange;
    border-radius: 5px;

}

.feature>button {
    border: none;
    margin-right: 25px;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    box-sizing: content-box;
}

.selectedFeature {
    background-color: rgb(66, 139, 211);
}

.selectedFeature1 {
    background-color: rgb(211, 66, 126);
}

.buy {
    padding: 0px, 10px;
    margin-top: 30px;
    border: none;
    background-color: green;
    color: aquamarine;
    font-weight: 800;
    padding: 10px;
    border-radius: 10px;
}